:root {
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --primary-text-color-theme-dark: #FFFFFF;
    --primary-text-color-theme-light: #212121;
    --secondary-text-color-theme-dark: rgba(255, 255, 255, 0.6);
    --secondary-text-color-theme-light: #757575;
    --accent-color: #2196F3;
    --dark-background-color: #2F303A;
}

h1, h2, h3б h4, p {
    margin-top: 0;
    margin-bottom: 0;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

body {
    font-family: var(--primary-font);
    color: var(--primary-text-color-theme-light);
}

/* =============== Components =============== */
.logo {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.logo-blue-text {
    color: var(--accent-color);
}

.contact-phone-number,
.contact-email {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.33;
    letter-spacing: 0.02em;
}

/* =============== /Components =============== */

/* =============== Header =============== */
.logo-theme-light,
.logo-theme-light:link,
.logo-theme-light:visited,
.logo-theme-light:hover,
.logo-theme-light:focus,
.logo-theme-light:active {
    color: #000000;
}

.menu-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.33;
    letter-spacing: 0.02em;
}

.menu-link,
.menu-link:link,
.menu-link:visited {
    color: var(--primary-text-color-theme-light);
}

.menu-link:hover,
.menu-link:focus,
.menu-link:active {
    color: var(--accent-color)
}

.menu-link.current {
    color: var(--accent-color);
}

.contact-phone-number-theme-light,
.contact-email-theme-light {
    color: var(--secondary-text-color-theme-light);
}

.contact-phone-number-theme-light:hover,
.contact-phone-number-theme-light:focus,
.contact-email-theme-light:hover,
.contact-email-theme-light:focus {
    color: var(--accent-color);
}

/* =============== /Header =============== */

/* =============== Hero =============== */
.hero {
    background: var(--dark-background-color);
}

.hero-title {
    color: var(--primary-text-color-theme-dark);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.order-button {
    font-family: inherit;
    color: var(--primary-text-color-theme-dark);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    display: block;
    margin: 0 auto;
    padding: 10px 32px;
    cursor: pointer;
}

.order-button:hover,
.order-button:focus {
    background: #188CE8;
}

/* =============== /Hero =============== */

/* =============== Benefits =============== */
.benefits-title {
    display: none;
}

.benefits-item-title {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.benefits-item-description {
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color-theme-light);
}

/* =============== /Benefits =============== */

/* =============== About Us =============== */
.about-us-title {
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color-theme-light);
}

/* =============== /About Us =============== */

/* =============== Team =============== */
.team {
    background: #F5F4FA;
}

.team-title {
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}

.team-item-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
}

.team-item-description {
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color-theme-light);
}

/* =============== /Team =============== */

/* =============== Foter =============== */
.page-footer {
    background: var(--dark-background-color);
}

.logo-theme-dark,
.logo-theme-dark:link,
.logo-theme-dark:visited,
.logo-theme-dark:hover,
.logo-theme-dark:focus,
.logo-theme-dark:active {
    color: var(--primary-text-color-theme-dark);
}

.address {
    font-style: normal;
}

.address-link {
    color: var(--primary-text-color-theme-dark);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.address-link:hover,
.address-link:focus {
    color: var(--accent-color)
}

.contact-phone-number-theme-dark,
.contact-email-theme-dark {
    color: var(--secondary-text-color-theme-dark);
}

.contact-phone-number-theme-dark:hover,
.contact-phone-number-theme-dark:focus,
.contact-email-theme-dark:hover,
.contact-email-theme-dark:focus {
    color: var(--primary-text-color-theme-dark);
}

/* =============== /Foter =============== */

/* =============== Portfolio filters =============== */
.filters-button {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color-theme-light);
    height: 38px;
    background: #F5F4FA;
    border-radius: 4px;
}

.filters-button:hover,
.filters-button:focus,
.filters-button-active {
    background: var(--accent-color);
    color: var(--primary-text-color-theme-dark);
}

/* =============== /Portfolio filters =============== */

/* =============== Portfolio list =============== */
.portfolio-list-item-title {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color-theme-light);
}

.portfolio-list-item-description {
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color-theme-light);
}

/* =============== /Portfolio list =============== */
